https://github.com/msuhanov/yarp/archive/1.0.28.tar.gz
construct
olefile==0.46
python_dateutil==2.8.0
docopt==0.6.2
libesedb-python
unidecode
mft
defusedxml
libscca-python
jsonlines
psutil
pytsk3
evtx==0.6.10
ifaddr==0.1.7
PyYAML==5.3.1